UID=1000
GID=1000
# Makefile env: dev uses docker-compose.dev.yaml, prod uses docker-compose.yaml
ENV=dev
FRONTEND_PORT=3000
NEXT_PUBLIC_URL_PREFIX=
EPISCANNER_API_URL=http://host.docker.internal:8042/api/datastore/episcanner
EPISCANNER_API_KEY=changeme