[tool.poetry]
name = "h2o-wave-template"
version = "0.1.0"
description = "Dashboard quickstart template"
authors = ["Flávio Codeço Coelho <fccoelho@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
h2o-wave = "^0.23.1"
pandas = "^1.5.0"
psutil = "^5.9.2"
loguru = "^0.6.0"
lmfit = "^1.0.3"
pyarrow = "^10.0.0"
geopandas = "^0.12.1"
matplotlib = "^3.6.1"

[tool.poetry.dev-dependencies]
pytest = "*"
coverage = "^6.5.0"
nox = "^2022.8.7"
nox-poetry = "^1.0.1"
autoflake8 = "^0.4.0"
black = "^22.10.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
